/*====================================
========= ENTIRE PAGE CSS ============
=====================================*/
@font-face {
	font-family: 'Koushiki';
	src: url('../fonts/KoushikiSans-Regular.ttf');
}

* {
	font-family: 'Koushiki', Arial, sans-serif;
}

/* default bootstrap is for devices smaller than 768px */
body {
	padding-top: 66px;
	background: rgba( 255, 255, 255, 0.85 );
}

/* so I have to do this for devices bigger than 768px */
@media only screen and (min-width: 768px) {
	body {
		padding-top: 63px;
		background: rgba( 255, 255, 255, 0.85 );
	}
}

html {
	background: url(../thumbnails/IMG_2296.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



/*====================================
======= SIDE BAR NAVIGATION ==========
=====================================*/
/* for mobile first */
/* h3 is 24px high */
/* h4 is 18px high */
.mynav { /* navbar base look*/
	background-color: #fff;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .175);
}

.mynav ul { /* mobile full width links */
	width: 100%;
}

.mynav  a { /* navbar base links */
	color: #000;
	transition: all 0.3s ease 0s;
}

/*
.mynav a.active  { link colors when scrolling
	color: #000;
	background-color: #aaa;
	text-decoration: none;
}
*/
 
.mynav .navbar-nav { /*works, about, contact*/
	display: inline-block;
	/*float: none;*/
	/*vertical-align: top;*/
}

.mynav .navbar-collapse { /*the dropdown list*/
	text-align: right;
}

/* for laptops/desktops */
@media only screen and (min-width: 768px) {
	.mynav { /* navbar base look*/
		background-color: #fff;
		transition: all 0.3s ease 0s;
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .175);
	}
	
	.mynav ul{
		/* width: 293px; /*measured beforehand */
	}
	
	.mynav  a { /* navbar base links */
		color: #000;
		transition: all 0.3s ease 0s;
	}

	.mynav a:hover { /*colors link hover*/

	}

	.mynav a.active  { /*link colors when scrolling*/
		background-color: #aaa;
		color: #000;
		text-decoration: none;
	}

	.mynav .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	
	.mynav .navbar-collapse {
		text-align: center;
	}
}


/*====================================
===== SECTION IMAGES + CAPTIONS ======
=====================================*/
section{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	/*background-color: #fff;*/
	color: #000;
}

.workbar{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

@media (min-width: 768px) {
	.workbar{
		position: relative;
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
}

/* Medium grid */
@media (min-width: 992px) {
	.text-center {
		text-align: center;
	}
}


.workbar:hover img{
	opacity: 1.0;
}

.workbar img{
	position: relative;
	width: 100%;/*750px;*/
	top: 50%;
	left: 50%;
	opacity: 0.85;
	
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
	-webkit-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.workbar .workbar-caption{
	position: absolute;
	background-color: rgba( 0, 0, 0, .54);
	color: #fff;
	
	bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;	
}



/*====================================
========= MAIN WORKS STUFF ===========
=====================================*/

/*
using http://www.pearsonified.com/typography/ for font ratio for 750 width. Title: 45px, Headline: 28px, Sub: 22px, Text: 17px, Subtext: 13px;*/

#content-wrap{
	width: 750px;
}

#dating-doc{
	width: 750px;
	height: 846px;
}

.works-pics img{
	width: 750px;
}

