/*====================================
========= ENTIRE PAGE CSS ============
=====================================*/
@font-face {
	font-family: 'Koushiki';
	src: url('../fonts/KoushikiSans-Regular.ttf');
}

* {
	font-family: 'Koushiki', Arial, sans-serif;
}

html {
	background: url(../thumbnails/IMG_2296-optimized.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* default bootstrap is for devices smaller than 768px */
body {
	padding-top: 66px;
	background: rgba( 255, 255, 255, 0 );
}

body .indexhtml {
	background: rgba( 255, 255, 255, 0.85 );
}

/* so I have to do this for devices bigger than 768px */
@media only screen and (min-width: 768px) {
	body {
		padding-top: 63px;
		background: rgba( 255, 255, 255, 0 ); /*0.85*/
	}
	
	body .indexhtml {
		background: rgba( 255, 255, 255, 0.85 );
	}
	
	html {
		background: url(../thumbnails/IMG_2296.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}




/*====================================
======= SIDE BAR NAVIGATION ==========
=====================================*/
/* for mobile first */
/* h3 is 24px high */
/* h4 is 18px high */
.mynav { /* navbar base look*/
	background-color: #fff;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .175);
}

.mynav ul { /* mobile full width links */
	width: 100%;
}

.mynav  a { /* navbar base links */
	color: #000;
	transition: all 0.3s ease 0s;
}

.mynav li.active  { /*link colors when scrolling*/
	color: #000;
	background-color: #ddd;
	text-decoration: none;
}
 
.mynav .navbar-nav { /*works, about, contact*/
	display: inline-block;
	/*float: none;*/
	/*vertical-align: top;*/
}

.mynav .navbar-collapse { /*the dropdown list*/
	text-align: right;
}

/* for laptops/desktops */
@media only screen and (min-width: 768px) {
	.mynav { /* navbar base look*/
		background-color: #fff;
		transition: all 0.3s ease 0s;
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .175);
	}
	
	.mynav ul{
		/* width: 293px; /*measured beforehand */
	}
	
	.mynav  a { /* navbar base links */
		color: #000;
		transition: all 0.3s ease 0s;
	}

	.mynav a:hover { /*colors link hover*/

	}

	.mynav a.active  { /*link colors when scrolling*/
		background-color: #aaa;
		color: #000;
		text-decoration: none;
	}

	.mynav .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	
	.mynav .navbar-collapse {
		text-align: center;
	}
}


/*====================================
===== SECTION IMAGES + CAPTIONS ======
=====================================*/
section{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	/*background-color: #fff;*/
	color: #000;
}

.workbar h4{
	/*position: relative;*/
	/* width: 100%;  /*100% */
	/* height: 200px; 200px */
	/*overflow: hidden;*/
	font-size: 16px;
}

.workbar:hover img{
	opacity: 1.0;
}

.workbar img{
	/*opacity: 0.85;*/ /*mobile, no transparency*/
	-webkit-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
	
	/*position: relative;*/
	/*width: 100%;*/ /*750px;*/
	/*top: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);*/
}

.workbar .workbar-caption{
	position: relative;
	background-color: rgba( 0, 0, 0, .55);
	color: #fff;
	
	bottom: 65px;
	margin-bottom: -45px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

@media only screen and (min-width: 768px) {
	.workbar{
		/*position: relative;
		width: 100%;
		overflow: hidden;*/
	}
	
	.workbar h4{
		font-size: 18px;
	}
	
	.workbar:hover img{
	opacity: 1.0;
	}
	
	.workbar a:hover {
		text-decoration: none;
	}

	.workbar img{
		opacity: 0.85;
		-webkit-transition: opacity 0.3s ease 0s;
		transition: opacity 0.3s ease 0s;
		
		/*position: relative;*/
		/*width: 100%;*/ /*750px;*/
		/*top: 50%;
		left: 50%;
		
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);*/
	}
}




/*====================================
========= MAIN WORKS STUFF ===========
=====================================*/
/*
using http://www.pearsonified.com/typography/ for font ratio for 750 width. Title: 45px, Headline: 28px, Sub: 22px, Text: 17px, Subtext: 13px;*/

#content-wrap {
	/*width: 750px;*/
	/*width: 100%;*/
}

.works-pics img {
	width: 750px;
}

#dating-doc {
	width: 750px;
	height: 846px;
}

#about .about-img {
	margin-left: auto;
	margin-right: auto;
}

#about .about-text {
	
}

.myfooter {
	position: relative;
	bottom: 0;
}


/* ==============================================
=== Just for the arrow on the main page, haha ===
=================================================*/
.myfadein {
	-webkit-animation: fadein 1s; 
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; top: -80px; }
	to { opacity: 1; top: 0px; }
}

@-moz-keyframes fadein {
	from { opacity: 0; top: -80px; }
	to { opacity: 1; top: 0px; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; top: -80px; }
	to { opacity: 1; top: 0px; }
}

@-ms-keyframes fadein {
	from { opacity: 0; top: -80px; }
	to { opacity: 1; top: 0px; }
}

@-o-keyframes fadein {
	from { opacity: 0; top: -80px; }
	to { opacity: 1; top: 0px; }
}

.myfadeinquick {
	-webkit-animation: fadein 0.5s; 
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

@keyframes fadeinquick {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fadeinquick {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes fadeinquick {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes fadeinquick {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-o-keyframes fadeinquick {
	from { opacity: 0; }
	to { opacity: 1; }
}
